body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: Arial;
}

.nav {
  padding: 15px;
  background: black;
  position: fixed;
  width: 100%;
  top: 0;
}

.hero {
  margin-top: 70px;
  padding: 20px;
}

.container {
  padding: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.08);
}

.player {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden { display: none; }

.box {
  background: #111;
  padding: 20px;
  width: 60%;
}

.close {
  float: right;
  cursor: pointer;
}
